@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthService AuthService

<CascadingValue Value="EmployeeId">
    <div class="page" style="display: @(isCheckingAuth ? "none" : "")">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <div class="header-sign d-flex align-items-center gap-3">
                    <!-- User Profile Dropdown -->
                    <UserProfileDropdown />
                </div>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>


@if (isCheckingAuth)
{
    <div class="d-flex flex-column justify-content-center align-items-center vh-75">
        <p class="loading-data-text">Loading...</p>
    </div>
}

@code {
    private bool isCheckingAuth = true;
    [CascadingParameter] public string? EmployeeId { get; private set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var (isAuthenticated, employeeId) = await AuthService.IsAuthenticatedAsync();

            if (!isAuthenticated)
            {
                NavigationManager.NavigateTo("/login", forceLoad: true);
            }
            else
            {
                this.EmployeeId = employeeId; // Set employeeId in the layout
                isCheckingAuth = false; // Allow rendering after the check
                StateHasChanged();
            }
        }
    }


    private async Task RefreshPage()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}