*[b-1uetml2cpj] {
    font-family: "Afacad Flux", sans-serif;
}

header[b-1uetml2cpj] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #000;
    position: fixed;
    width: 100%;
    z-index: 2;
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
}

.logo img[b-1uetml2cpj] {
    width: 100px;
}

.logo-text[b-1uetml2cpj] {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    text-decoration-color: #000;
    margin-left: 10px;
}

a[b-1uetml2cpj] {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.buttons[b-1uetml2cpj] {
    display: flex;
    gap: 15px;
    border-radius: 4px;
}

.login-btn[b-1uetml2cpj],
.signup-btn[b-1uetml2cpj] {
    padding: 10px 20px;
    background-color: rgb(29, 32, 36) !important;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.login-btn-2[b-1uetml2cpj] {
    padding: 10px 20px;
    background-color: rgb(29, 32, 36) !important;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    width: fit-content;
}

.login-btn:hover[b-1uetml2cpj],
.login-btn-2:hover[b-1uetml2cpj],
.signup-btn:hover[b-1uetml2cpj] {
    background-color: rgb(39, 43, 48) !important;
}

.hero[b-1uetml2cpj] {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 80px;
    background-color: #fff;
    color: black;
}

.hero h1[b-1uetml2cpj] {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.hero p[b-1uetml2cpj] {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero img[b-1uetml2cpj] {
    max-width: 100%;
    height: auto;
}