.btn[b-pkwo8k5cy3] {
    background-color: rgb(29, 32, 36);
    color: white;
    gap: 0.5rem;
    outline: none;
    transition: .3s ease;
    border: none;
}

.btn:hover[b-pkwo8k5cy3] {
    background-color: rgb(39, 43, 48);
    color: white;
    gap: 0.5rem;
}

.loading-data-text[b-pkwo8k5cy3],
.no-data-available-text[b-pkwo8k5cy3] {
    font-size: 1.5rem;
}

.loading-data-text-recommend[b-pkwo8k5cy3] {
    color: #a7a7a7;
}

.no-data-available-image[b-pkwo8k5cy3] {
    width: 16vw;
}

.table[b-pkwo8k5cy3] {
    width: 100%;
    margin-bottom: 1rem;
    color: #e0e0e0;
    background-color: rgb(34, 37, 41);
}

.table th[b-pkwo8k5cy3], 
.table td[b-pkwo8k5cy3] {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th[b-pkwo8k5cy3] {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody[b-pkwo8k5cy3] {
    border-top: 2px solid #dee2e6;
}

.table-hover tbody tr:hover[b-pkwo8k5cy3] {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-striped tbody tr:nth-of-type(odd)[b-pkwo8k5cy3] {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-rounded[b-pkwo8k5cy3] {
    border-radius: 0.2rem;
    overflow: hidden;
}

.table th[b-pkwo8k5cy3] {
    background-color: rgb(29, 32, 36);
    color: white;
    text-align: left;
}

.table td[b-pkwo8k5cy3] {
    background-color: #f8f9fa;
    color: #333;
}

.table td[b-pkwo8k5cy3],
.table th[b-pkwo8k5cy3] {
    border: none; /* Remove inner borders */
}

.table-striped tbody tr:nth-of-type(odd)[b-pkwo8k5cy3] {
    background-color: #eeeeee;
}

.shadow-sm[b-pkwo8k5cy3] {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
}

th:first-of-type[b-pkwo8k5cy3] {
  border-top-left-radius: 10px;
}
th:last-of-type[b-pkwo8k5cy3] {
  border-top-right-radius: 10px;
}

h4[b-pkwo8k5cy3] {
    margin-top: 2rem;
    color: #e0e0e0;
    font-weight: bold;
}

.actions-dropdown-btn[b-pkwo8k5cy3] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
    color: rgb(29, 32, 36);
}

    /* Remove blue outline */
.actions-dropdown-btn:focus[b-pkwo8k5cy3] {
    outline: none;
    box-shadow: none;
}

    /* Change color on hover */
.actions-dropdown-btn:hover[b-pkwo8k5cy3] {
    background-color: rgb(55, 60, 66);
    color: white;
}

    /* Change icon color inside the button */
.actions-dropdown-btn svg[b-pkwo8k5cy3] {
    color: inherit; /* Inherit the color from the button */
}

.action-button[b-pkwo8k5cy3] {
    user-select: none;
    transition: .3s ease;
    padding: 8px 12px; 
    cursor: pointer;
}

.action-button:hover[b-pkwo8k5cy3] {
    background-color: rgb(231, 231, 231);
}