* {
    font-family: "Afacad Flux", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #000;
    position: fixed;
    width: 100%;
    z-index: 2;
    /* Add these properties for centering and max-width */
    max-width: 1400px;
    /* Equivalent to Tailwind's 5xl */
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    width: 100px;
}

.logo-text {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    text-decoration-color: #000;
    margin-left: 10px;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 15px;
}

.login-btn,
.signup-btn {
    padding: 10px 20px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.login-btn-2 {
    padding: 10px 20px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.login-btn:hover,
.login-btn-2:hover,
.signup-btn:hover {
    background-color: lightgray;
    border-color: black;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 80px;
    background-color: #fff;
    color: black;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero img {
    max-width: 100%;
    height: auto;
}